
<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">

    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <p>Autor: Brian Stanley</p>
          <p>Contacto: brianelblog [at] gmail</p>
        </ul>

      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</footer>