<%= link_to blog_post.slug do%>
    <h4 class="post-stub-title">
      <p><%=  blog_post.title %>.</p>
    </h4>
    <time class="post-stub-date">
      <%= blog_post.published_at %>
    </time>
<% end %>
